.title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: larger;
    font-weight: bold;
    padding-left: 15px;
    color:#bdd1ec;
}

.subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    color:#bdd1ec;
    padding-bottom: 0;

}

